Source: winetricks
Section: contrib/otherosfs
Priority: optional
Maintainer: Jari Aalto <jari.aalto@cante.net>
Uploaders: tony mancill <tmancill@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.3.1
Homepage: http://code.google.com/p/winetricks
Vcs-Git: git://git.debian.org/collab-maint/winetricks.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/winetricks.git;a=summary

Package: winetricks
Architecture: all
Depends: ${misc:Depends},  wine-unstable | wine | winetricks-wine, wget, cabextract, unzip, p7zip
Recommends: zenity | kdebase-bin, xdg-utils, sudo | gksu
Description: package manager for WINE to install software easily
 A POSIX shell script 'package manager' for WINE to install some
 Windows software easily. The list of downloadable applications is
 retrieved over the net. The list contains about 70 applications
 including 3dmark2001, corefonts, cygwin, directx9, dotnet35, droid,
 firefox, flash, ie8, mspaint, msxml6, python26, quicktime76, safari,
 spotify, utorrent, vb6run, vcrun2010, vlc and xvid.
 .
 To use GUI progress bar, install package "zenity". To read manuals,
 install package "xdg-utils". If you need to cache *.iso files with
 -k option, install packages "sudo" (or sudo GUI "gksu").

Package: winetricks-wine
Architecture: all
Depends: ${misc:Depends}
Description: A pure virtual pakage to provide feature for winetricks
 A dummy package to satisfy users who install wine from sources, but
 who would like to use winetricks. In those cases wine is manually
 installed out of dpkg's control, it woudn't know about it. Dpkg would
 try to install "wine" from official repositories; effectively causing
 problems to existing manually installed wine.
 .
 However, winetricks also depends on "winetricks-wine" and this
 package will satisfy depends.
 .
 Warning: if you do not have wine installed, do NOT install this
 package as some of the the winetricks' commands depend on live wine.
