Source: winetricks
Section: contrib/otherosfs
Priority: optional
Maintainer: Joseph Bisch <joseph.bisch@gmail.com>
Build-Depends:
 debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://code.google.com/p/winetricks
Vcs-Git: git://anonscm.debian.org/collab-maint/winetricks.git
Vcs-Browser: http://anonscm.debian.org/cgit/collab-maint/winetricks.git/

Package: winetricks
Architecture: all
Multi-Arch: foreign
Depends:
 cabextract,
 p7zip,
 unzip,
 wget,
 wine32 | wine32-unstable | wine64 | wine64-unstable | wine | wine-unstable | wine-development,
 zip,
 ${misc:Depends}
Recommends:
 sudo | gksu,
 xdg-utils,
 zenity | kdebase-bin
Suggests:
 libwine
Description: package manager for WINE to install software easily
 A POSIX shell script 'package manager' for WINE to install some
 Windows software easily. The list contains about 70 applications
 including 3dmark2001, corefonts, cygwin, directx9, dotnet35, droid,
 firefox, flash, ie8, mspaint, msxml6, python26, quicktime76, safari,
 spotify, utorrent, vb6run, vcrun2010, vlc, xvid etc.
