#!/usr/bin/make -f

PACKAGE   = winetricks
CHANGELOG := $(shell pwd)/debian/upstream.changelog
ICONDIR	  = debian/$(PACKAGE)/usr/share/$(PACKAGE)/icons/hicolor/scalable/apps

# Run manually when package is updated
get-changelog:
	git log --pretty=short upstream/master > $(CHANGELOG)

override_dh_auto_test:
	# Skip. These are internal tests.

override_dh_installchangelogs:
	dh_installchangelogs $(CHANGELOG)

%:
	dh $@

# End of file
