[Desktop Entry]
Name=Winetricks
Comment=Install applications on Wine
Exec=winetricks --gui
Terminal=false
Icon=winetricks
Type=Application
Categories=Wine;
